<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aco.practice.demo1.mapper.ScheduledConfigMapper">
  <resultMap id="BaseResultMap" type="com.aco.practice.demo1.domain.entity.ScheduledConfigEntity">
    <!--@mbg.generated-->
    <!--@Table t_scheduled_config-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="cron" jdbcType="VARCHAR" property="cron" />
    <result column="clss_path" jdbcType="VARCHAR" property="clssPath" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, job_name, method_name,cron, clss_path, `state`, create_time, update_time, version
  </sql>

</mapper>