<?xml version="1.0" encoding="UTF-8"?>
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<Configuration status="off">
    <Properties>
        <Property name="LOG_PATH">.</Property>
    </Properties>
    <Appenders>
        <!-- Console -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36}.%M@%L - %msg%n"/>
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %C{5} (%F:%L) - %msg%n"/>-->
        </Console>
        <!-- RollingFile -->
        <RollingRandomAccessFile name="RollingFile"
                                 fileName="./aifasion.log"
                                 filePattern="${LOG_PATH}/mypratice.log.%d{yyyy-MM-dd-HH}">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36}.%M@%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- Spring Loggers -->
        <Logger  name="org.springframework" level="info"/>

        <!-- App Loggers -->
        <Logger name="org.jd.test" level="debug" additivity="false">
            <AppenderRef  ref="Console"/>
            <AppenderRef  ref="RollingFile"/>
        </Logger>

        <!-- Root Logger -->
        <Root  level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root >
    </Loggers>
</Configuration>